body{
	background: #64062e;
}

div{
	font-family: 'Arial';
	background-color: #a8cf45;
	margin: 10px 10px;
	text-align: center;
	font-weight: bolder;
	padding: 15px 30px;
	width: 80px;
	display: inline-block;
	vertical-align: middle;
}

.esquina_redondeada{
	transition-duration: 0.3s;
}

.esquina_redondeada:hover{
	border-radius: 20px;
}