div{
	border: 2px solid black;
	width: 50%;
	position: relative;
	margin-left: 25%;
}

div:before{
	content: 'hola';
	position: absolute;
	right: 0px;
	bottom: 0px;
	background: red;
}

div:after{
	content: 'mundo';
}