div{
	font-family: 'Arial';
	background-color: #a8cf45;
	margin: 15px 20px;
	padding: 5px 20px;
	text-align: center;
	font-weight: bolder;
	width: 80px;
	display: inline-block;
	vertical-align: middle;
}

.chicle:hover{
	animation: 1s chicle 1;
}

@keyframes chicle{
	30%{
		transform: scaleX(1.25) scaleY(0.75);
	}

	50%{
		transform: scaleX(0.75) scaleY(1.25);
	}

	60%{
		transform: scaleX(1.15) scaleY(0.85);
	}
}