.padre{
	width: 250px;
	height: 250px;
	margin: 25px;
	background: orange;
	overflow: hidden;
}

.hijo1{
	width: 50px;
	height: 50px;
	background: red;
	display: inline-block;
	z-index: 99;
	position: relative;
	top: -15px;
}

.hijo2{
	width: 100px;
	height: 100px;
	background: green;
	position: absolute;
}

.oculto{
	visibility: hidden;
}

.transparencia{
	opacity: 0.5;
}