a#link1:link{
	color: green;
}

a#link2:visited{
	color: red;
}

p:hover{
	color: green;
	font-size: 20px;
	font-weight: bolder;
}

span:active{
	color: green;
}

input:focus{
	border-radius: 5px;
	background: #FFD6D6;
}