body{
	background: khaki;
	font-size: 12px;
}

div{
	margin: 10px;
}

div *{
	border: 1px solid black;
	width: 80px;
	height: 50px;
	background: white;
	display: inline-block;
}

div article:only-of-type{
	background: gray;
}

div a:last-of-type{
	background: green;
}

div p:first-of-type{
	background: pink;
}

div aside:empty{
	background: brown;
}

div article:not(.clase){
	background: orange;
}

:root{
	background: blue;
}