@font-face{
	font-family: "irlandesa";
	src: url(fonts/Barrio-Resgular.ttf);
	src: local('?'),
		url(fonts/Barrio-Regular.woff) format("woff"),
		url(fonts/Barrio-Regular.ttf) format("truetype");
}

p{
	font-family: "irlandesa", Arial;
}

span{
	font-family: 'Indie Flower', cursive;
}

p.text{
	font-family: arial;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-variant: small-caps;
	text-indent: 14px;
	letter-spacing: 3px;
	word-spacing: 4px;
}

p.text:first-letter{
	font-size: 25px;
	color: red;
}

p.text:first-line{
	font-size: 25px;
}