div{
	height: 200px;
	width: 200px;
	background: white;
	margin: 50px;
	text-align: center;
	box-shadow: 1px 1px 0px gray,
				2px 2px 0px gray,
				3px 3px 0px gray,
				4px 4px 0px gray,
				5px 5px 0px black,
				6px 6px 0px black;
	border: 1px solid black;
}

p{
	position: relative;
	top: 70px;
	font-size: 20px;
	text-shadow: 0px 0px 15px gray;
	color: white;
}