div{
	height: 200px;
	width: 200px;
	border: 2px solid red;
	margin: 50px;
	background: url("firma.gif"),
				url("imagen.jpg");

	background-repeat: no-repeat, repeat;
	background-position: right bottom,
						center center;
}