body{
	background: orange;
}

div{
	width: 100px;
	height: 150px;
	border: 2px solid black;
	margin: 30px;
}

@media screen and (min-width: 480px){
	body{
		background: #34A647;
	}

	div{
		width: 200px;
	}
}

@media screen and (min-width: 767px){
	body{
		background: #34A2A6;
	}
}

@media screen and (min-width: 950px){
	body{
		background: #A76A9E;
	}
}