header h2, h3{
	color: green;
}

p#azul{
	color: blue;
}

/*.prueba{
	color: green;
}*/

/*.grande{
	font-size: 20px;
}*/

/*p+p{
	font-weight: bolder;
}*/

div > p{
	color: red;
}

p ~ p{
	color: green;
}

h2[title ~= "otro"]{
	color: red;
}

h2[lang |= "es"]{
	color: blue;
}

div{
	font-size: 50px;
}

article p{
	font-size: 20px;
}

.naranja{
	color: orange;
}

.rojo{
	color: red;
}