header h2, h3{
	color: green;
}

p#azul{
	color: blue;
}

/*.prueba{
	color: green;
}*/

/*.grande{
	font-size: 20px;
}*/

/*p+p{
	font-weight: bolder;
}*/

div > p{
	color: red;
}

p ~ p{
	color: green;
}